<header>
   <nav>
      <ul>
         <li>
            <a href="/">
               <img src="/image/logo.png" class="logo" alt="logo">
            </a>
         </li>
         <li>
            <a href="/admin/card">
               <img src="/image/list-cards.png" class="create-card-img" alt="Criar Carta">
               Criar Carta
            </a>
         </li>
         <li>
            <a href="/admin/cardList">
               <img src="/image/delete-card.png" class="create-card-img" alt="">
               Deletar Carta
            </a>
         </li>
      </ul>
   </nav>
</header>
